/* =========================================================
   STUDENT CAREER AI - GLOBAL APP CSS
========================================================= */

#root {
  min-height: 100vh;
  width: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100%;

  overflow-x: hidden;
}

body {
  background: #071426;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}